i.menu-icon {
    display: block;
    width: 42px;
    height: 50px;
    position: relative;
    cursor: pointer;
}

i.menu-icon::after {
    content: ' ';
    position: absolute;
    width: 1px;
    height: 50px;
    background-color: black;
    right: 10px;
    transition: all .15s ease-in-out;
}

i.menu-icon::before {
    content: ' ';
    position: absolute;
    width: 1px;
    height: 50px;
    background-color: black;
    left: 10px;
    transition: all .15s ease-in-out;
}

i.menu-icon.active::after {
    transform: rotate(45deg);
    right: 20px;
}

i.menu-icon.active::before {
    transform: rotate(-45deg);
    left: 20px;
}